/.CommentTextMatch.java._trace
/.CommentTextMatcher.java._trace
/.Grabats09Match.java._trace
/.Grabats09Matcher.java._trace
/.InvisibleMethodsMatch.java._trace
/.InvisibleMethodsMatcher.java._trace
/.ThrownExceptionsMatch.java._trace
/.ThrownExceptionsMatcher.java._trace
/.Queries.java._trace
/.TextElementInJavadocMatch.java._trace
/.TextElementInJavadocMatcher.java._trace
